extends layout

block content
    style.
        .jumbotron{
            background: url('/img/ban.jpg') no-repeat center center;
            background-size: 100% auto;
            height: 500px;
            border-radius: 0!important;
        }

    h1 Marché public
    p.lead Repondre ou faire un appel d'offre
    hr

    .jumbotron.jumbotron-fluid

    if user
      if (user.profile.statut === 'Demandeur')
        .row
          .col-sm-offset-3.col-sm-3.text-center
            a(href="/ajouterOffre", class='btn btn-primary center-block', role="button") Ajouter une offre
          .col-sm-3.text-center
            a(href="/listeOffres", class='btn btn-primary center-block', role="button") Liste des offres
      else
        .row
          .col-sm-offset-4.col-sm-4.text-center
            a(href="/listeOffres", class='btn btn-primary center-block', role="button") Liste des offres
    else
      .row
          .col-sm-offset-3.col-sm-3.text-center
            a(href="/ajouterOffre", class='btn btn-primary center-block', role="button") Ajouter une offre
          .col-sm-3.text-center
            a(href="/listeOffres", class='btn btn-primary center-block', role="button", disabled) Liste des offres
